%h1= t('.main_page')
%ul
  %li= link_to t('.contacts'), main_contacts_path
  %li= link_to t('.help'), main_help_path
  %li= link_to t('.about'), main_about_path
  %li= link_to t('.ruby_website'), 'http://rubyonrails.org'

.center.jumbotron
  %h1= t('.welcome')

  - if signed_in?
    = link_to t('.proceed'), work_path,
   class: "btn btn-lg btn-primary"

  - else
    = link_to t('.sign_up_now'), signup_path,
   class: "btn btn-lg btn-primary"