%p#notice= notice

%p
  %b= t('images.index.name')
  %b :
  = @image.name
%p
  %b= t('images.index.file')
  %b :
  = @image.file
%p
  %b= t('images.index.avg')
  %b :
  = @image.ave_value
%p
  %b= t('images.index.theme')
  %b :
  = @image.theme_id

= link_to t('images.edit.edit'), edit_image_path(@image)
\|
= link_to t('images.edit.back'), images_path